
<!-- ナビゲーションバー -->
<div class="l-navbar" ng-controller="NavController" >
	<!-- ホームボタンリンク -->
	<a class="navbar__item--icon btn--link" ng-click="home()"><i class="fa fa-home"/></a>

	<div class="l-navbar--left">
		<!-- 検索バー -->
		<form role="search" ng-submit="search(query)" ng-hide="isOpenMenu">
			<input type="text" class="search-bar" placeholder="&#xf002;FAQを検索できます" ng-model="query"/>
		</form>
	</div>

	<!-- ユーザアイコン -->
	<div class="l-navbar--right">
		<!-- <a class="navbar__item--icon btn-link" ng-click="openDictionary()"><i class="fa fa-book"/></a> -->
	</div>
</div>
