/bin/
/build/
/data/
/.DS_Store
/gradlew.bat
build
.idea
out
*.iml
*.ipr
*.iws
.DS_Store
*.class
*.jar
*.war
*.ear
.gradle
.project
.classpath
.settings/org.eclipse.jdt.core.prefs
.properties
/node_modules
/src/main/resources/public/app/styles/sass/.sass-cache
/src/main/resources/public/app/images
/src/main/resources/public/app/files
/.settings
*.log
/log