
<!--manual side bar-->
<div ng-controller="ManualController">
	<!--title-->
	<div class="column-title-manual">マニュアル</div>			
	<!--category list-->
	<ul class="nav nav-stacked acoordion-group" ng-repeat="category in categories">
		<li><a ng-click="categoryCollapsed = !categoryCollapsed">{{category.name}}</a>
			<ul ng-repeat="list in category.manualLists">
    			<li uib-collapse="!categoryCollapsed" ><a ng-click="listCollapsed = !listCollapsed">{{list.name}}</a></li>
    				<ul uib-collapse="listCollapsed" ng-repeat="file in list.manualFiles">
    					<li><a ng-href="{{file.file_path}}" target="_blank">{{file.file_name}}</a></li>
    				</ul>			           
   			</ul>
   		</li>	
	</ul>							
</div>