<!-- FAQ新規登録画面 -->
<div class="create-view" ng-controller="CreateFaqController">
	<form ng-submit="submit(faq)">
		<!-- タイトルエリア -->
		<div class="create-view__header">
			<input class="create-view__text" type="text" placeholder="FAQタイトルを入力してください" ng-model="faq.title"/>
		</div>		
		<!-- 入力エリア -->
		<div class="create-view__contents">
			<ul class="textarea__item-list">
				<li><a href=""><i class="fa fa-picture-o"/></a></li>
				<li><a href=""><i class="fa fa-bold"/></a></li>
				<li><a href=""><i class="fa fa-list-ol"/></a></li>
				<li><a href="" ng-click="openTalkScriptModal()" 
						uib-tooltip="トークスクリプト作成ダイアログを表示します" 
    					tooltip-placement="right" tooltip-trigger="mouseenter">
    					<i class="fa fa-phone"/></a></li>
			</ul>
			<textarea class="create-view__textarea" rows="24" ng-change="parseMarkDown()" ng-model="faq.content" placeholder="FAQ本文を入力してください"/>

			<!-- markdownプレビュー -->
			<div class="preview-area">
				<p>プレビュー</p>
				<div ng-bind-html="parsedMarkdown"></div>
			</div>
		</div>
		<!-- ページ下部ボタンエリア -->
		<div class="create-view__footer">
			<input type="hidden" ng-model="faq.create_user" ng-init="faq.create_user='user1'" />
			<input type="hidden" ng-model="faq.update_user" ng-init="faq.update_user='user1'"/>
			<input type="hidden" ng-model="faq.status" ng-init="faq.status='valid'"/>
				
			<button class="btn-green" ng-click="post(faq)" type="submit">作成する</button>
		</div>	
	</form>
</div>