
<!-- FAQ詳細画面 -->
<div class="create-view" ng-controller="DetailFaqController">

	<!-- FAQタイトルとコンテンツ表示エリア -->
	<div class="create-view__header">
		{{faq.title}}
	</div>	
	<div class="create-view__contents">
		<div class="create-view__contents--left">
			{{faq.content}}
			<a href="" title="">更新履歴</a>
		</div>
		<div class="create-view__contents--right">
			<div class="col-header__title">お客様への伝え方</div>
			<div class="input-text-area">
				{{faq.talk_script}}
			</div>
			<!-- 更新履歴 -->
			<div ng-show="showHistory">
				<div class="column-title">
					更新履歴
				</div>
				<div class="column-content">
					<select ng-model="selectedHistory" ng-options="history for history in hisotryArray"></select>
					{{}}
				</div>		
			</div>	
		</div>
	</div>
	<!-- ページ下部ボタンエリア -->
	<div class="col-sm-12">
		<button type="button" class="btn btn-default" ng-click="requestModify()">修正依頼</button>
		<button type="button" class="btn btn-primary" ng-click="close()">閉じる</button>
		<button type="button" class="btn btn-success pull-right" ng-click="useful(faq.id)">役に立った</button>			
	</div>
</div>