<!-- FAQ一括登録画面 -->
<div class="l-import" ng-controller="ImportFaqController">
	<!-- ページ上部 -->
	<div class="col-header">
		<span class="col-header__title">{{columnTitle}}</span>
		<a class="col-header__icon" ng-click="isClose()"><i class="fa fa-times"/></a>
	</div>
	<!-- 読み込み表示部 -->
	<div class="col-contents">
		<form ng-submit="submit(faqData)" name="submitForm">
			<input type="file" ng-file-select="onFileSelect($files)">
			<div class="grid-base" ui-grid="{data:faqData}" ui-grid-resize-columns></div>
			<div class="col-footer">
				<a ng-href="{{fileUrl}}" title="">テンプレートをダウンロード</a>
				<!-- <button type="button" ng-click="clear()" class="btn-white">{{buttonLabelClear}}</button> -->
				<button type="submit" class="btn-blue" ng-disabled="loading"><i ng-show="loading"class="fa fa-spinner fa-spin"/>{{buttonLabelSubmit}}</button>
			</div>
		</form>
	</div>
</div>