<!-- FAQ一括登録画面 -->
<div class="l-import" ng-controller="ImportFaqController">
	<!-- ページ上部 -->
	<div class="col-header">
		<span class="col-header__item col-header__title">{{columnTitle}}</span>
		<a class="col-header__icon" ng-click="isClose()"><i class="fa fa-times"/></a>
	</div>
	<!--  -->
	<div class="col-contents">
		<form ng-submit="submit(faqData)" name="submitForm">
			<input type="file" ng-file-select="onFileSelect($files)">
			<div class="grid-base" ui-grid="{data:faqData}" ui-grid-resize-columns></div>
			<div class="col-footer">
				<button type="submit" class="btn-blue">{{buttonLabelSubmit}}</button>				
			</div>
		</form>
	</div>
</div>