<!-- 修正対象FAQ一覧画面 -->
<div class="l-faq" ng-controller="ModifyTaskListController">

	<!-- ヘッダエリア -->
	<div class="col-header">
		<span class="col-header__item col-header__title">修正対象リスト</span>
		<!-- 戻るボタン -->
		<a class="col-header__item" ng-click="backToFaqList()"><i class="fa fa-arrow-circle-o-left"/></a>
		<!-- 修正済みFAQ表示アイコン -->
		<a class="col-header__item" ><i class="fa fa-th-list"/></a>
 	</div>

	<!-- 一覧表示エリア -->
 	<div class="col-contents" >
		<table class="table--hover" ng-repeat="modifyTask in modifyTaskList" ng-click="openDetailView($event)">
			<thead>
				<tr><th >{{modifyTask.title}}</th></tr>
			</thead>
			<tbody>
				<!-- <tr><td>{{faq.content | abbreviate:150}}</td></tr> -->
			</tbody>
		</table>
	</div>

</div>