
#sidebar{
	min-height: 100vh;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	background-color: #000000;
	padding-left: 0;
	padding-right: 0;
}

.sidebar--left{
	left:100%;
}

.sidebar-content{
	position: absolute;
	width: 100%;
}


