@charset "UTF-8";

/** FAQ一覧画面ベース */
.l-faq {
	@include l-column-set($faqAreaWidthWide);
	background-color: $back-color-gray;
	right: 0;
}

/** FAQ一覧画面-左部 */
.l-faq--left {
	@include l-column-set($faqListAreaWidth);
	padding-left: $general-padding;
	padding-right: $general-padding;
}

/** FAQ一覧画面-右部 */
.l-faq--right {
	@include l-column-set($faqDetailAreaWidth);
	right: 0;
	padding-left: 15px;
	padding-right: 15px;
}

/** FAQ一覧画面-右部フッター */
.l-faq--right__footer {
	width: 100%;
	height: $faqRightFooterHeight;
	text-align: right;
	line-height: $faqRightFooterHeight
}

// .has-narrow-width {
//   @each $prefix in $set-prefix {
//     width: #{$prefix}calc(100% - #{$manualAreaWidth + $notificationAreaWidth});
//   }
// }

// .l-faq--search {
// 	@include l-column-set(100%);
// 	background-color: $main-bg-gray;
// }

// .l-search-result {
// 	height: calc(100vh - #{$navbarHeight});
// 	width: 100%;
// 	position: relative;
// 	background-color: white;
// }

/** FAQ一覧タイトル用 */
.faq__title {
	width: 100%;
	height: 50px;
	padding-left: $general-padding;
	padding-right: $general-padding;
	padding-top: 3px;
	border-bottom: solid 1px $border-gray;
}

/** FAQ詳細パネル */
.faq__detail {
	width: 100%;
	height: calc(100% - #{$colHeaderHeight});
	border: solid 1px $border-gray;
	border-radius: 5px;
	background-color: white;
	top: $colHeaderHeight;
	padding: 15px;
	position: relative;
}

/** FAQ詳細パネルヘッダ */
.faq__detail__header {
	width: 100%;
	height: 100px;
}

/** FAQ詳細パネルヘッダ(タイトル行) */
.faq__detail__header--title {
	display: table;
	width: 100%;
}

/** ヘッダ-タイトル */
.header__item--title {
	display: table-cell;
}

/** ヘッダ-アイコン */
.header__item--icon {
	display: table-cell;
	text-align: center;
}

/** フッターアイテム */
.panel-footer__item {
	display: table-cell;
	vertical-align: middle;
}

/** フッターアイテム(右) */
.panel-footer__item--right {
	display: table-cell;
	text-align: right;
}

/** FAQ詳細本文 */
.faq__content {
	width: 100%;
	height: calc(100% - (#{$faqDetailHeader} + #{$faqRightFooterHeight}));
	overflow: hidden;
	& > .ng-isolate-scope {

		height: 100%;
	} 
	& > .ng-isolate-scope > .ng-binding {
		width: calc(100% + #{$scrollbarWidth});
		height: 100%;
		overflow: auto;
		padding-right: $scrollbarWidth;
	}
}

