@charset "UTF-8";

/** ナビゲーションバーベースレイアウト */
.l-navbar {
	position:fixed;
	top: 0;
	margin: 0;
	height: $navbarHeight;
	width: 100%;
	background-color:$main-green;
	display: table;
}

/** ナビゲーションバー左エリア */
.l-navbar--left {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	height: 100%;
	position: relative;
}

/** ナビゲーションバー右エリア */
.l-navbar--right {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	height: 100%;
}



