
<!--FAQ area-->
<div ng-controller="FAQController">
	<div class="column-title">よくあるお問い合わせ
<!-- 		<a class="icon" ui-sref="create"><span class="glyphicon glyphicon-pencil"></span></a> -->
<button class="btn btn-success" ng-click="create()">新規登録</button>
	</div>

<!-- 	<uib-accordion close-others="oneAtTime">			
	    <uib-accordion-group heading="{{faq.title}}" ng-repeat="faq in faqlist" class="panel">
			<div class="answer">											
				<a ng-click="open(faq)"><!回答部分のpanel全体をリンクにする-->
<!-- 			    	{{faq.content}}
				</a>
			</div>
	    </uib-accordion-group>
	</uib-accordion>
 --> 
 	<div class="panel panel-default" ng-repeat="faq in faqlist">
		<div class="panel-heading">
			<h3 class="panel-title">{{faq.title}}</h3>
		</div>
		<div class="panel-body">
			<a ng-click="open(faq)"><!--お知らせ本文全体をリンクにする-->
				{{faq.content|abbreviate:150}}
			</a>
		</div>
	</div>	
</div>
