<div class="l-main">
	<!-- メニューバー -->
	<ng-include src="'app/views/menu/menubar.html'" include-replace></ng-include>
	<!--マニュアルエリア-->
	<div ng-show="isShowManual">
		<ng-include src="'app/views/manual/manual.html'" include-replace></ng-include>
	</div>
	<!--お知らせエリア-->
	<div ng-show="isShowNotification">
		<ng-include src="'app/views/notification/listNotification.html'" include-replace></ng-include>
	</div>
	<!--FAQエリア-->
	<ng-include src="'app/views/faq/listFaq.html'" include-replace></ng-include>
	<!-- FAQ一括登録 -->
	<div ng-show="isShowFaqImport">
		<ng-include src="'app/views/faq/importFaqPanel.html'" include-replace></ng-include>
	</div>
</div>




