
<!--create modal-->
<form class="simple-form">		
	<div class="modal-header">
		<div class="modal-title">
			<input type="text" class="form-control" placeholder="FAQタイトルを入力してください" ng-model="faq.title"/>
		</div>
	</div>
	<div class="modal-body">
		<textarea class="form-control" rows="10" placeholder="回答内容を入力してください" ng-model="faq.answer"></textarea>			
	</div>
	<div class="modal-footer">			
		<input type="hidden" ng-model="faq.create_user" ng-init="faq.create_user='user1'" />
		<input type="hidden" ng-model="faq.update_user" ng-init="faq.update_user='user1'"/>
		<input type="hidden" ng-model="faq.status" ng-init="faq.status='valid'"/>	
		<button class="btn btn-primary" ng-click="post(faq)" type="submit">作成</button>
	</div>
</form>
