
<!--create modal-->
<form class="simple-form">		
	<div class="modal-header">
		<div class="modal-title">
			<input type="text" class="form-control" placeholder="お知らせタイトルを入力してください" ng-model="notification.title"/>
			<span class="label label-default">重要度</span>
			<span class="label label-danger">高</span><input type="radio">
			<span class="label label-warning">中</span><input type="radio">
			<span class="label label-info">低</span><input type="radio">
		</div>
	</div>
	<div class="modal-body">
		<textarea class="form-control" rows="10" placeholder="お知らせ内容を入力してください" ng-model="notification.answer"></textarea>			
	</div>
	<div class="modal-footer">
		<div class="btn-group">
			<button type="button" class="btn btn-default">全体に通知</button>
			<button type="button" class="btn btn-default">OPのみに通知</button>
			<button type="button" class="btn btn-default">SVのみに通知</button>			
		</div>
		<input type="hidden" ng-model="notification.create_user" ng-init="notification.create_user=1" />
		<input type="hidden" ng-model="notification.update_user" ng-init="notification.update_user=1"/>
		<input type="hidden" ng-model="notification.status" ng-init="notification.status='valid'"/>	
		<button class="btn btn-primary" ng-click="post(notification)" type="submit">作成</button>
	</div>
</form>
