
<div class="modal-header">
	<div class="modal-title">
		<h3>お知らせする対象スキルを選択してください</h3>
	</div>
	<div class="modal-body">
		<div class="search-skill">
			<input type="text" class="form-control" placeholder="スキルを検索"/>
		</div>
		<div class="skill-list-area">
			<table class="table table-hover">
				<tbody>
					<tr ng-repeat="targetSkill in targetSkills">
						<td>
							<label><input type="checkbox" ng-model="targetSkill.checked" value="{{targetskill.skill}}" ng-checked="selection.indexOf(targetSkill) > -1" ng-click="toggleSelection(targetSkill)"/>{{targetSkill.skill}}</label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">キャンセル</button>
		<button class="btn btn-primary" ng-click="decision()">決定</button>
	</div>
</div>