<!-- 新規お知らせ登録パネル -->
<div class="l-notification--create" ng-controller="CreateNotificationController">
	<form class="form-without-margin" ng-submit="submit(notification)" style="margin-top:0px; margin-bottom:0px;">
		<table class="create-panel">
			<thead>
				<tr>
					<th>新規お知らせ</th>
					<th><a href="" ng-click="closePanel()"><i class="fa fa-times"/></a></th>
				</tr>
			</thead>
			<tbody>
				<!-- 宛先 -->
				<tr class="create-panel__row" >　
 					<td>
 						<tags-input ng-model="selectSkillList" placeholder="お知らせ対象を選択" replace-spaces-with-dashes="false">
 							<auto-complete source="loadSkills($query)" min-length="0" max-results="10" debounce-delay="0"></auto-complete>
 						</tags-input>
 					</td>
				</tr>
				<!-- タイトル -->
				<tr class="create-panel__row">
					<td colspan="2"><input class="create-panel__title" type="text" placeholder="タイトル" ng-model="notification.title"></td>
				</tr>
				<!-- 本文 -->
				<tr class="create-panel__row">
					<td colspan="2"><textarea class="create-panel__contents" rows="24" ng-change="parseMarkDown()" ng-model="notification.content" placeholder="お知らせ本文を入力してください"></textarea></td>
				</tr>
			</tbody>
			<tfoot>
				<!-- 重要度 -->
				<tr class="create-panel__footer-row">
					<td  colspan="2">
						<span>重要度</span>
						<label><input type="radio" ng-model="notification.importance" ng-value="3">高</label>
						<label><input type="radio" ng-model="notification.importance" ng-value="2">中</label>
						<label><input type="radio" ng-model="notification.importance" ng-value="1">低</label>
						<button class="btn-blue" type="submit">送信</button>
						<input type="hidden" ng-model="notification.createUser" ng-init="notification.createUser='user1'" />
						<input type="hidden" ng-model="notification.updateUser" ng-init="notification.updateUser='user1'" />
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>