<!-- 新規お知らせ登録パネル -->
<form class="create-panel" ng-controller="CreateNotificationController" name="submitForm" ng-submit="submit(notification)" novalidate>
	<!-- パネルヘッダ -->
	<div class="create-panel__header">
		<div class="header__item--title">{{createPanelHeader}}</div>
		<div class="header__item--icon"><a ng-click="closePanel()"><i class="fa fa-times"/></a></div>
	</div>
	
	<!-- 本文エリア -->
	<div class="create-panel__content">
		<!-- 宛先 -->
		<tags-input ng-model="selectSkillList" placeholder="お知らせ対象を選択" replace-spaces-with-dashes="false">
			<auto-complete source="loadSkills($query)" min-length="0" max-results="10" debounce-delay="0" required="true"></auto-complete>
		</tags-input>
		<!-- お知らせタイトル -->
		<input type="text" name="title" placeholder="タイトル" class="create-panel__title" ng-model="notification.title" required="true" ng-maxlength="50" uib-tooltip="50字以内にしてください" tooltip-placement="bottom" tooltip-enable="submitForm.title.$error.maxlength">
		<!-- お知らせ本文 -->
		<textarea name="content" rows="24" ng-model="notification.content" placeholder="本文" class="create-panel__contents"></textarea>
	</div>

	<!-- パネルフッター -->
	<div class="create-panel__footer">
		<div class="panel-footer__item">
			<span>重要度</span>
			<label><input type="radio" ng-model="notification.importance" ng-value="3">高</label>
			<label><input type="radio" ng-model="notification.importance" ng-value="2">中</label>
			<label><input type="radio" ng-model="notification.importance" ng-value="1">低</label>
			<input type="hidden" ng-model="notification.createUser" ng-init="notification.createUser='user1'" />
			<input type="hidden" ng-model="notification.updateUser" ng-init="notification.updateUser='user1'" />
		</div>
		<div class="panel-footer__item--right">
			<button type="submit" class="btn-blue" ng-disabled="submitForm.$invalid || loading">
				<span ng-show="loading"><i class="fa fa-spinner fa-spin"/></span>
				{{sendButton}}
			</button>
		</div>

	</div>
</form>