<!-- 新規お知らせ登録パネル -->
<div class="l-notification--create" ng-controller="CreateNotificationController">
	<form class="form-without-margin" ng-submit="submit(notificationDAO)" style="margin-top:0px; margin-bottom:0px;">
		<table class="create-panel">
			<thead>
				<tr>
					<th>新規お知らせ</th>
					<th><a href="" ng-click="closePanel()"><i class="fa fa-times"/></a></th>
				</tr>
			</thead>
			<tbody>
				<!-- 宛先 -->
				<tr class="create-panel__header-row" >　
<!-- 					<td ng-controller="PopOverController" colspan="2">
						<a uib-popover-template="targetUserList.templateUrl" popover-placement="bottom-left"><i class="fa fa-user"/>宛先</a>
					</td>
 -->
 					<!-- ngTagsInput test -->
 					<td>
 						<tags-input ng-model="selectSkillList" placeholder="お知らせ対象を選択">
 							<auto-complete source="loadSkills()" min-length="0" max-results="10" debounce-delay="0"></auto-complete>
 						</tags-input>
 					</td>
				</tr>
				<!-- タイトル -->
				<tr class="create-panel__header-row">
					<td colspan="2"><input class="create-panel__title" type="text" placeholder="タイトル" ng-model="notificationDAO.title"></td>
				</tr>
				<!-- 本文 -->
				<tr>
					<td colspan="2"><textarea class="create-panel__contents" rows="24" ng-change="parseMarkDown()" ng-model="notificationDAO.content" placeholder="お知らせ本文を入力してください"></textarea></td>
				</tr>
			</tbody>
			<tfoot>
				<!-- 重要度 -->
				<tr class="create-panel__footer-row">
					<td  colspan="2">
						<span>重要度</span>
						<label><input type="radio" ng-model="notificationDAO.importance" ng-value="1">高</label>
						<label><input type="radio" ng-model="notificationDAO.importance" ng-value="2">中</label>
						<label><input type="radio" ng-model="notificationDAO.importance" ng-value="3">低</label>
						<button class="btn-green" type="submit">送信</button>
						<input type="hidden" ng-model="notificationDAO.createUser" ng-init="notificationDAO.createUser='user1'" />
						<input type="hidden" ng-model="notificationDAO.updateUser" ng-init="notificationDAO.updateUser='user1'" />						
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>