<!-- お知らせ一覧エリア-->
<div class="l-notification" ng-controller="ListNotificationController" >
	<!-- ヘッダエリア -->
	<div class="col-header--bordered">
		<span class="col-header__item col-header__title">お知らせ</span>
		<a href="" class="col-header__item col-header__title">未読</a>
		<a href="" class="col-header__item col-header__title">既読</a>
 	</div>
	
	<!-- 一覧表示エリア -->
 	<div class="col-contents" >
 		<!-- お知らせパネル -->

		<div class="timeline" ng-repeat="notification in notifications" ng-click="open(notification)">
			<div class="timeline__header">
				<div class="header__item timeline__title">{{notification.title}}</div>
			</div>
			<div class="timeline__header">
				<div class="header__item timeline__item--user-name">@{{notification.createUser}}</div>
				<div class="header__item--tag" ng-class="setTagColor(notification)"><i class="fa fa-tag"/>重要度{{notification.importance}}</div>
			</div>
			<div class="timeline__content">{{notification.content|abbreviate:150}}</div>
			<div class="timeline__footer">
				<div class="footer__item">
					<i class="fa fa-envelope-o"/><span class="timeline__item--number">{{notification.readMemberList.length}}</span>
					<i class="fa fa-envelope"/><span class="timeline__item--number">{{notification.unreadMemberList.length}}</span>	
				</div>
			</div>
		</div>

		<!-- 新規登録パネル -->
		<a class="open-create-notification"　href="" ng-click="openPanel()"><i class="fa fa-pencil-square-o"/><span>新しいお知らせを登録する</span></a>
		<div ng-include="'/app/views/notification/createNotificationPanel.html'" ng-show="isShowCreatePanel"></div>
	</div>

</div>