/** color */
$main-green: #a3cf36;
$sub-green: #36cf61;
$main-blue: #36a3cf;
$main-purple: #7a36cf;
$main-red: #cf363d;
$main-brown: #cf6136;
$main-yellow: #cfc736;
$button-blue: #368acf;
$header-text-color: #808080;
$sidebar-color: #c5cfba;
$notification-color: lighten($main-green, 15%);
$main-bg-gray: #F5F8FA;
$sub-gray: #F5F5F5;


