/** color */
$sub-green: #a3cf36;
$main-green: #8ACE36;

$manual-backcolor: #AFD67F;

$main-blue: #36a3cf;
$main-purple: #7a36cf;
$main-red: #cf363d;
$main-brown: #cf6136;
$main-yellow: #cfc736;
$button-blue: #368acf;
$header-text-color: #808080;
$sidebar-color: darken(white,5%);
$notification-color: lighten($main-green, 15%);
$main-bg-gray: #F5F8FA;
$sub-gray: #F5F5F5;
$faq-title-link: #0078CA;

$back-color-notification: #D4ECB7;


$back-color-gray: #F7F7F7;

$tag-color: #A2B6C3;
$border-gray: #D6DBDE;
