@charset "UTF-8";

@mixin icon--base {
    display: table-cell;
    color: white;
    text-align: center;
    padding-left: 10px;
}

.navbar__item--text-icon {
	display: table-cell;
	table-layout: fixed;
	vertical-align: middle;
	height: 40px;
	text-align: center;
	color: white;
	width: 60px;
	padding-top: 6px;
	font-size: 20px;
	& > p{
		font-size: 10px;
	}
	line-height: 1.0em;
	&:hover {
		color: $main-red;
	}
}

//ラベル付きアイコン
@mixin icon--with-label($width,$height) {
	height: $height;
	width: $width;
	display: inline-block;
	text-align: center;
	color: white;
	font-size: 1.5em;
	& > p{
		font-size: 10px;
	}
	line-height: 1.0em;
	&:hover {
		color: $main-red;
	}
}

//メニューバー用アイコン
.menu__icon {
	@include icon--with-label($menubarWidth,50px);
	margin-bottom: 15px;
}


