@charset "UTF-8";

/** 標準ボタン(緑) */
.btn-green {
	@extend .btn;
	background-color: $main-green;
	border-radius: 0.25rem;
	font-size: 0.9rem;
	padding: 3px 5px;
	height: 30px;
	width: 120px;
	text-align: center;
	color: white;
	&:hover {
		color: white;
		box-shadow: 2px 2px 2px #555;
	}
	&:focus {
		outline: none;
	}
}

/** 標準ボタン(青) */
.btn-blue {
	@extend .btn-green;
	background-color: $main-blue;
}

.btn-white {
	@extend .btn-green;
	background-color: white;
	color: black;
	border: solid 1px gray;
	&:hover {
		color: black;
		box-shadow: 2px 2px 2px #555;
	}
}

.close-button {
	$btnSize: 60px;
	width: $btnSize;
	height: $btnSize;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color: $main-brown;
	border: 1px solid;
	@each $prefix in $set-prefix {
		#{$prefix}border-radius: $btnSize/2;
	}
	background-color: blue;
	&:hover {
		background-color: $sidebar-color;
	}
	> i {
		font-size: 22px;
		border: 1px solid;
	}
	> .button--label {
		border: 1px dotted;
		width: 100%;
		display: inline-block;
		font-size: 12px;
	}
}

.btn--link {
	//display: inline-block;
}