
.col-contents {
	width: 100%;
	height: calc(100% - #{$colHeaderHeight});
	overflow: scroll;
	position: absolute;
	top: $navbarHeight;
	margin-top: 5px;
	padding-left: $general-padding-left;
	padding-right: $general-padding-right;
}