@charset "UTF-8";

/** カラムヘッダ */
.col-header {
	@include horizontal-list;
	width: 100%;
	height: $colHeaderHeight;
	color: $header-text-color;
	display: table;
	line-height: $colHeaderHeight;
}

.col-header--bordered {
	@extend .col-header;
	border-bottom: solid 3px;
	border-color: $main-blue;
}

.col-header__item {
	display: table-cell;
	vertical-align: middle;
	color: $faq-title-link;
	text-align: center;
}

/** ヘッダ部アイコン */
.col-header__icon {
	@include icon--base;
	font-size: 1.2em;
}

.col-header__title {
	font-size: 1.2rem;
	font-weight: bold;
	display: table-cell;
	padding-left: $general-padding;
}

.col-header__title-normal {
	font-size: 16px;
}
