@charset "UTF-8";
/**
 * 新規登録画面用スタイル	
 */

$create-view-header-height: 40px;
$create-view-footer-height: 40px;
$item-list-height: 30px;

//新規画面全体
.create-view {
	padding: 15px;
	@each $prefix in $set-prefix {
		height: #{$prefix}calc(100% - #{$navbarHeight});
	}
	width: 100%;
	position: fixed;
	top: $navbarHeight;
	margin: 0px;
}

//画面ヘッダー
.create-view__header {
	width: 100%;
	height: $create-view-header-height;
}

//新規画面メイン部分
.create-view__contents {
	display: table;
	width: 100%;
	margin-top: 5px;
	position: relative;
	@each $prefix in $set-prefix {
		height: #{$prefix}calc(100% - #{$create-view-header-height} - #{$create-view-footer-height});
	}
}

.create-view__footer {
	height: $create-view-footer-height;
	width: 100%;
	text-align: right;
	padding-left: 15px;
	padding-right: 15px;
	display: table;
}

.create-view__footer__item {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}

.create-view__text {
	width: 100%;
	height: 100%;
	background-color: white;
	border: 1px solid;
	border-color: gray;
	border-radius: 5px;
	padding-left: 10px;
	&:focus {
		outline: none;
	}
}

.create-view__textarea {
	@include textarea-base();
	width: 50%;
	@each $prefix in $set-prefix {
		height: #{$prefix}calc(100% - #{$item-list-height});
	}
	border: 1px solid;
	border-color: gray;
	padding-left: 10px;
	position: absolute;
	overflow: auto;
}

.textarea__item-list {
	width: 100%;
	height: $item-list-height;
	font-size: 18px;
	& > li {
		display: inline-block;
		border: 1px solid;
		border-color: $sub-gray;		
	}
}

.write-area {
	display: table-cell;
	width: 50%;
	height: 100%;
}

.preview-area {
	display: table-cell;
	width: 50%;
	height: 100%;
	padding-left: 10px;
	overflow: scroll;
	
}

.preview-text {
	white-space: pre-wrap;
	widows: 100%;
	overflow: auto;
}

.create-view__submit-btn {
	@extend .btn-green;
	width: 60px;
}
