@charset "UTF-8";
/** FAQ新規登録画面スタイル */

$create-view-header-height: 40px;
$create-view-footer-height: 40px;
$item-list-height: 30px;
$tagIconHeight: 40px;

//新規画面全体
.create-view {
	padding: 15px;
	@each $prefix in $set-prefix {
		height: #{$prefix}calc(100% - #{$navbarHeight});
	}
	width: 100%;
	position: fixed;
	top: $navbarHeight;
	margin: 0px;
}

/** タイトル入力エリア */
.create-view__header {
	width: 100%;
	height: $create-view-header-height;
	line-height: $create-view-header-height;
	display: table;
}

/** タイトルエリアアイコン */
.create-view__header__icon {
	@include icon--with-label($tagIconHeight,$tagIconHeight);
	color: black;
	display: table-cell;
	position: absolute;
}

//新規画面メイン部分
.create-view__contents {
	display: table;
	width: 100%;
	margin-top: 10px;
	position: relative;
	@each $prefix in $set-prefix {
		height: #{$prefix}calc(100% - #{$create-view-header-height} - #{$create-view-footer-height});
	}
}

.create-view__footer {
	height: $create-view-footer-height;
	width: 100%;
	text-align: right;
	padding-left: 15px;
	padding-right: 15px;
	display: table;
}

.create-view__footer__item {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}

/** FAQタイトル */
.create-view__text {
	width: calc(100% - #{$tagIconHeight} - 10px);
	height: 40px;
	background-color: white;
	border: 1px solid;
	border-color: gray;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	left: calc(#{$tagIconHeight} + 10px);
	&:focus {
		outline: none;
	}
}

.create-view__textarea {
	@include textarea-base();
	width: 50%;
	@each $prefix in $set-prefix {
		height: #{$prefix}calc(100% - #{$item-list-height});
		max-height: #{$prefix}calc(100% - #{$item-list-height});
	}
	border: 1px solid;
	border-color: gray;
	position: absolute;
	overflow: auto;
	padding: 5px 10px;
	border-radius: 5px;
}

.textarea__item-list {
	width: 100%;
	height: $item-list-height;
	font-size: 18px;
	& > li {
		display: inline-block;
		border: 1px solid;
		border-color: $sub-gray;		
	}
}

.write-area {
	display: table-cell;
	width: 50%;
	height: 100%;
}

.preview-area {
	display: table-cell;
	width: 50%;
	@media (max-width: 480px) {
		max-width: 220px;
    }
 
    @media (max-width: 767px) {
		max-width: 320px;
    }
 
    @media (max-width: 979px) and (min-width: 1200px){
		max-width: 400px;
    }

    @media (min-width: 1200px) { 
		max-width: 600px;
    }
	height: 100%;
	overflow: auto;
	position: relative;
}

.preview-area__content {
	height: calc(100% - #{$item-list-height});
	position: absolute;
	overflow: auto;
	width: 100%;
	padding: 0px 10px;
}

.preview-text {
//	white-space: pre-wrap;
	widows: 100%;
	overflow: auto;
}

.create-view__submit-btn {
	@extend .btn-green;
	width: 60px;
}
