.preview-area > .ng-isolate-scope > .ng-binding, 
.modal-body > .ng-binding {
    overflow: auto;
    word-wrap: break-word;
    position: absolute;
    padding: 0px 6px;
    @each $prefix in $set-prefix {
      height: #{$prefix}calc(100% - #{$item-list-height});
      max-height: #{$prefix}calc(100% - #{$item-list-height});
    }

    & > a{
        color: #0645ad; 
        text-decoration:none;
        &:visited {
          color: #0b0080; 
        }
        &:hover {
          color: #06e;
        }
        &:active {
          color:#faa700;
        }
        &:focus {
          outline: thin dotted;
        }
        &:hover,&:active {
          outline: 0; 
        }
    }
    & > p {
      margin:1em 0;
    }
    & > img {
      width: 100%;
      max-width:100%;
      border: 0; 
      -ms-interpolation-mode: bicubic; 
      vertical-align: middle;
    }
    & > ul,ol {
      margin: 1em 0; 
      padding: 0 0 0 2em;
    }
    & > ul {
      list-style: disc;
    }
    & > li p:last-child {
      margin:0;
    }

}

.modal-body > .ng-binding {
  position: relative;
}


