@charset "UTF-8";

/** お知らせ用セット */
.timeline {
	width: 100%;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: white;
}

.timeline__header {
	display: table;
	width: 100%;
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
}

.header__item {
	display: table-cell;
	vertical-align: middle;
}

.header__item--tag {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-radius: 3px;
	width: 20%;
	font-size: 13px;
	color: white;
}

.header__item--right {
	@extend .header__item;
	text-align: right;
}

.timeline__title {
	font-weight: bold;
	color: #292f33;
	font-size: 16px;
}

.timeline__content {
	font-size: 14px;
	color: #292f33;
	line-height: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.timeline__item--user-name {
	font-size: 13px;
	color: #8899a6;
}

.timeline__item--number {
	font-size: 16px;
	color: #8899a6;
	margin-left: 3px;
}

.importance--high {
	background-color: red;
}

.importance--middle {
	background-color: $main-yellow;
}

.importance--low {
	background-color: $main-blue;
}

.importance--none {
	display: none;
}

.timeline__footer {
	display: table;
	width: 100%;
	height: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 5px;
	margin-bottom: 2px;
}

.footer__item {
	display: table-cell;
	font-size: 18px;
	color: #aab8c2;
}