@charset "UTF-8";

/** treeview-parent */
.tree__nodes {
	display: table;
	width: 100%;
	height: $manualItemHeight;
	line-height: $manualItemHeight;
	padding-left: $general-padding;
	padding-right: $general-padding;
	color: white;
	font-size: 1.0em;
	&:hover {
		background-color: $main-green;
	}
}

/** treeview-child */
.tree__node {
	list-style: none;
}

/** treeview-chid__item */
.tree__node__item {
	padding-left: 20px;
}

.tree__nodes__item--right {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}
