<!-- メニューバー -->
<div class="l-menu" ng-controller="MenuController">
	<div class="l-menu__list">
		<a class="menu__icon" ng-click="showNotification()">
			<i class="fa fa-info-circle"/>
			<p>{{labelNotification}}</p>
		</a>
		<a class="menu__icon" ng-click="createFaq()">
			<i class="fa fa-plus"/>
			<p>{{labelAddFaq}}</p>
		</a>
		<a class="menu__icon" ng-click="importExcel()">
			<i class="fa fa-cloud-upload"/>
			<p>{{labelImportFaq}}</p>
		</a>
		<a class="menu__icon" ng-click="showManual()">
			<i class="fa fa-file-text-o"/>
			<p>{{labelManual}}</p>
		</a>
		<a class="menu__icon" ng-click="openDictionary()">
			<i class="fa fa-book"/>
			<p>{{labelTerm}}</p>
		</a>
	</div>
</div>