
<!-- 送信用モーダル -->
<div class="">
	<div class="modal-title">
		<h5>{{title}}</h5>
	</div>
	<div class="modal-content">
		<!-- 送信内容入力エリア -->
		<textarea rows="10" ng-model="todo.content" placeholder="修正内容を入力してください。何も入力せずに送信することもできます。"></textarea>
	</div>
	<div class="modal-footer">
		<input type="hidden" ng-model="todo.create_user" ng-init="todo.create_user='admin'">
		<input type="hidden" ng-model="todo.importance" ng-init="todo.importance=1">
		<input type="hidden" ng-model="todo.status" ng-init="todo.status='valid'">
		<button ng-click="cancel()">キャンセル</button>
		<button ng-click="send(todo)">送信</button>
	</div>
</div>

			