<!-- ui.treeライブラリ用template -->
<div ui-tree-handle>
    <i ng-class="{'fa fa-folder-open-o':isCollapsed,'fa fa-folder-o':!isCollapsed}"/>
    {{node.name}}
    <!-- 追加ボタン -->
    <a ng-click="newSubItem(this,itemName)"><i class="fa fa-folder"/></a>
    <!-- 削除ボタン -->
    <a ng-click="remove"><i class="fa fa-trash"/></a>
</div>

<!-- マニュアル -->
<ul ui-tree-nodes="" ng-model="node.manuals" ng-class="{hidden: !isCollapsed}">
  <li ng-repeat="manual in node.manuals"><i class="fa fa-file-text-o"/>
    <a ng-href="{{manual.filePath}}" target="_blank">{{manual.fileName}}</a>
  </li>
</ul>

<!-- 子カテゴリ -->
<ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: !isCollapsed}">
  <li ng-repeat="node in node.children" ui-tree-node ng-include="'/app/views/template/uiTreeViewTemplate.html'"></li>
</ol>