<!-- 用語集一覧 -->
<div class="l-term__content">
	<div class="term__content--left">
		<ul class="term__content--left__list">
			<li ng-repeat="term in termList | andSearchFilter:{title:query} as filtered" ng-click="openContent(term)">{{term.title}}</li>
		</ul>
	</div>
	<div class="term__content--right" ng-show="isShowContent">
		<div class="button--group">
			<h3>{{title}}</h3>
			<button type="button" ng-click="edit(targetTerm)">{{buttonLabelEdit}}</button>
			<button type="button" ng-click="delete(targetTerm)">{{buttonLabelDelete}}</button>
		</div>
		<div class="term__content">
			{{content}}
		</div>
	</div>
</div>